@model IEnumerable<Vroom.Models.Model>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Models of vehicles</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create"><i class="fas fa-motorcycle"></i> &nbsp; Add New Model</a>
    </div>
    <br />
    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th>@Html.DisplayNameFor(m => m.Make)</th>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th></th>
            </tr>
            @foreach(var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(m => item.Make.Name)</td>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td class="text-right">
                    <div class="btn-group" role="group">
                        <form method="post" action="Edit">
                            <button type="submit" class="btn btn-primary text-right" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></button>
                        </form>
                        <form method="post" action="Delete">
                            <button onclick="if (!confirm('Are you sure you want to delete this item ?')) { return false})" type="submit" class="btn btn-danger text-right" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
            }
        </table>
    </div>
</div>

